/*----------------------Header--------------------------*/

.site-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  padding: 20px 0;
  &.sticky {
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(205, 205, 205, 1);
    .mobile-menu-btn {
      span {
        background: $dark;
      }
    }
  }
  &.active {
    background: #fff;
  }
}
