/*----------------------Header--------------------------*/

body.home {
  .site-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background: transparent;
    &.active{
      background: #fff;
      .mobile-menu-btn {
        span {
          background: $dark;
        }
      }
    }
    .desktop-menu-wrapper {
      .menu {
        li {
          a {
            color: white;
            font-size: 15px;
            font-weight: 600;
          }
          &:nth-child(7) {
            a {
              color: white;
            }
          }
        }
        a {
          color: white;
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .mobile-menu-btn {
      span {
        background: #fff;
      }
    }
    &.sticky {
      overflow: hidden;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 99999;
      background: #fff;
      box-shadow: 0px 1px 8px 0px rgba(205, 205, 205, 1);
      animation:slide-down 0.6s;
      .desktop-menu-wrapper {
        .menu {
          li {
            &:not(:last-child) {
              a {
                color: $dark;
              }
              .red-btn {
                color: white;
              }
            }
          }
          a {
            color: $dark;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
      .mobile-menu-btn {
        span {
          background: $dark;
        }
      }
    }
  }
}

/*-----------------Standard header-----------------------------*/
.site-header {
  padding: 20px 0;
  animation:slide-up;
  &.active{
    background: #fff !important;
    height: 100%;
    overflow: auto;
  }
  .mobile-menu-btn {
    span {
      background: $dark;
    }
  }
  &.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(205, 205, 205, 1);
    animation:slide-down 0.6s;
    .logo-wrapper {
      a {
        img {
          width: 120px;
        }
      }
    }
    .mobile-menu-btn {
      span {
        background: $dark;
      }
    }
  }
  &.not-sticky{
    animation: slide-up;
  }
}

.logo-wrapper {
  a {
    display: block;
  }
}

/*------------------Mobile menu---------------------*/
.mobile-menu-wrapper {
  display: none;
  padding: 0 20px;
  @media screen and (max-width: 1200px) {
    display: block;
  }
  .logo-wrapper {
    a {
      img {
        width: 120px;
      }
    }
  }
  .mobile-menu-btn {
    height: 100%;
    &:hover {
      cursor: pointer;
    }
    span {
      display: block;
      width: 35px;
      height: 3px;
      transition: all 0.3s;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &.active {
      transition: all 0.3s;
      span {
        background: $red;
        margin-bottom: 0;
        &:last-child {
          display: none;
        }
        &:first-child {
          transform: rotate(45deg) translate(1px, 1px);
        }
        &:nth-child(2) {
          transform: rotate(-45deg) translate(1px, -1px);
        }
      }
    }
  }
  .mobile-menu {
    &.active{
      padding: 40px 0 30px;
    }
    .menu {
      visibility: hidden;
      max-height: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      li {
        display: block;
        text-align: center;
        line-height: 1;
        &:not(:last-child) {
          padding-bottom: 25px;
          margin-bottom: 25px;
          position: relative;
          &:after {
            position: absolute;
            content: '';
            display: block;
            height: 1px;
            width: 55px;
            background: $blue;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
        a {
          color: $dark;
          font-size: 30px;
        }
      }
    }
    &.active {
      .menu {
        visibility: visible;
        transition: all 2s;
        max-height: 100%;
      }
    }
  }
}

/*------------------Desktop menu-------------------------*/

.site-header {
  .desktop-menu-wrapper {
    .menu {
      li {
        &:not(:last-child) {
          a {
            color: $dark;
          }
        }
      }
    }
  }
}

.desktop-menu-wrapper {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  .logo-wrapper {
    background: transparent;
    position: relative;
    &:after {
      // position: absolute;
      // content: '';
      // display: block;
      // height: 100%;
      // width: 100%;
      // top: 0;
      // left: 0;
      // box-shadow: 0px 0px 48px 48px rgba(255, 255, 255, 0.25);
    }
    a {
      display: block;
      position: relative;
      z-index: 9;
      .logo {
        max-width: 100%;
        display: block;
        height: auto;
      }
    }
  }
  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    li {
      display: inline-block;
      line-height: 1;
      a {
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        &:not(.menu-button) {
          &:hover, &:focus {
            color: $red;
            text-decoration: none;
            outline: none;
          }
        }
        &.menu-button {
          &.btn {
            padding: 7px 15px;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}



/*------------------Menu animation------------------------*/


@keyframes slide-down {
  0% {

    transform: translateY(-100%);
  }
  100% {

    transform: translateY(0);
  }
}


@keyframes slide-up {
  0% {

    transform: translateY(0);
  }
  100% {

    transform: translateY(-100%);
  }
}