/*-----------------------Packages section------------------------------------*/
.packages-section {
  padding: 60px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .simple-text-block {
    text-align: center;
    .section-title {
      margin-bottom: 30px;
    }
  }
}

.packages-slider-container{
  padding: 50px 0;
}

.packages-card {
  background: $packages-card-bg;
  text-align: center;
  padding: 35px 15px 75px;
  width: 300px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  &:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }
  @media screen and (min-width: 768px){
    margin-bottom: 0;
    height: 100%;
    &:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }
  .card-price {
    font-size: 50px;
    color: $card-price-color;
    font-weight: 800;
    line-height: 1;
    margin-top: 7px;
    display: inline-block;
    letter-spacing: 2px;
  }
  .card-period {
    color:: #0C262D;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
  }
  ul.card-list {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    li {
      display: block;
      font-size: 15px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  .card-button-container {
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    .btn {
      &.custom-btn {
        padding: 10px 25px;
        color:#fff;
        &:hover,&:focus{
          color:#fff;
          outline: none;
        }
      }
    }
  }
}

.packages-slider-container {
  margin: 0 -15px;
  overflow: hidden;
  @media screen and (min-width: 769px){
    margin: 0;
  }
  .swiper-container {
    padding: 40px 0;
  }
}
