/*-------------------Portfolio section-----------------------------*/

.portfolio-section {
  padding: 80px 0 120px;
  .simple-text-block {
    //margin-bottom: 50px;
  }
  .portfolio-slider-wrapper {
    .swiper-container {
      padding: 40px 0 80px;
      .portfolio-slide-block {
        transition: all 0.3s ease-in-out;
        a {
          display: block;
          img {
            display: block;
            max-width: 100%;
            height: auto;
          }
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          transform: scale(1.1);
        }
      }
    }
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        &.swiper-pagination-bullet-active {
          background: $red;
        }
      }
    }
    .swiper-button-next,.swiper-button-prev{
      background-image:none;
      svg{
        width:30px;
        height: auto;
        @media screen and (max-width: 1200px){
          width:25px;
        }
      }
      @media screen and (max-width: 992px){
        display: none;
      }
    }
    .swiper-button-next{
      right: -30px;
      @media screen and (max-width: 1200px){
        right:0;
      }
    }
    .swiper-button-prev{
      left: -30px;
      @media screen and (max-width: 1200px){
       left:0;
      }
    }
  }
}