/*--------------------Section Add-ons-------------------------*/
.addons {
  background: $grey-bg;
  padding: 70px 0 110px;
  position: relative;
  overflow: hidden;
  background: url('/dist/images/dotted-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  &:after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width:200px;
    height: 200px;
    background: url('/dist/images/red-circle.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

  }
  .simple-text-block{
    margin-bottom: 40px;
    .section-title{
      margin-bottom: 25px;
    }
  }
  .icon-text-block {
    .icon-container{
      min-height: 75px;
      margin-bottom: 25px;
    }
    .small-title {
      text-align: center;
    }
  }
}