/*----------------Hero banner---------------------------*/
.mobile-banner {
  display: none;
}
.video-container {
  position: relative;
  overflow: hidden;
  max-height: 70vh;
  background-color: black;
  min-height: 515px;
  video {
    opacity: 0.5;
    height: auto;
    vertical-align: middle;
    width: 100%;
  }
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 25%; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero-banner-wrapper {
  position: relative;
  // min-height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  .bottom-banner-triangles {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 90px;
    z-index: 3;
    .left-triangle, .right-triangle {
      width: 50%;
      position: relative;
      &:after{
        content: '';
        background-image: linear-gradient(to right top, #fff 0%, #fff 49.9%, transparent 50%);
        position: absolute;
        width: 100%;
        height: 120px;
        bottom:0;
        left: 0;
        @media screen and (max-width: 768px){
          height: 60px;
        }
        @media screen and (max-width: 600px){
          height: 40px;
        }
      }
      &:before{
        content: '';
        background-image: linear-gradient(to right top, $blue 0%, $blue 49.9%, transparent 50%);
        position: absolute;
        width: 100%;
        height: 140px;
        bottom:0;
        left: 0;
        @media screen and (max-width: 768px){
          height: 80px;
        }
        @media screen and (max-width: 600px){
          height: 55px;
        }
      }
    }
    .right-triangle{
      &:after{
        transform: scaleX(-1);
      }
      &:before{
        transform: scaleX(-1);
      }
    }
  }
  .container, .row {
    min-height: inherit;
  }
  .banner-content-wrapper {
    text-align: center;
    color: #fff;
    .banner-text-block {
      .banner-subtitle {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.3em;
        margin-bottom: 5px;
      }
      .banner-title {
        font-size: 60px;
        font-weight: 800;
        letter-spacing: 1px;
        margin-bottom: 25px;
      }
    }
    .banner-button-container {
      margin-top: 45px;
      .custom-btn {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}

/*----------------Divider---------------------------*/
.divider {
    content: "";
    width: 75px;
    height: 5px;
    background: $red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/*----------------Media Queries---------------------------*/
@media (max-width:1200px) and (min-width:855px) {
  .overlay-desc {
    top: 15% !important;
    .hero-banner-wrapper {
      .banner-content-wrapper {
        .banner-button-container {
          margin-top: 25px;
        }
      } 
    } 
  }
}

@media screen and (max-width: 855px) {
  .mobile-banner {
    display: block;
    background-color: black;
    min-height: 700px;
    img {
      opacity: 0.5;
      position: absolute;
    }
  }
  .video-container {
    display: none;
  }
}












