$fa-font-path: '/dist/fonts/vendor/font-awesome'!default;

$body-text-color:#7B7B7B;
$red:#E74138;
$dark:#0F282F;
$dark-subtitle:#0F2830;
$dark-small-title:#0F282F;
$packages-card-bg:rgba(255, 255, 255, 0.94);
$card-price-color:#1AC0CF;
$card-period:#0C262D;
$grey-bg:#f7f7f7;
$blue:#1AC0CF;
$footer-bg:#0C262D;
$footer-color:#435B62;

