//BASE
input,
textarea {
  border: 1px solid $colorGrayLight;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  color: $colorGrayDark;
  font-size: 0.8em;
  font-weight: 500;
}

.form--vertical {
  text-align: center;

  label, input {
    line-height: 2em;
  }

  label {
    display: block;
    top: -2em;
    position: relative;
    z-index: 2;
    transition: top 200ms ease-in;
  }

  input:focus + label,
  textarea:focus + label {
    top: auto;
  }

  input,
  textarea {
    transition: outline 250ms ease-in-out;
    width: 100%;
  }

  textarea {
    height: 6em;
  }
  textarea + label {
    top: -3em;
  }

}
